dotenv .env.local
use flake
export ANDROID_HOME="$HOME/Library/Android/sdk"
export ANDROID_SDK_ROOT="$ANDROID_HOME"
export PATH="$ANDROID_HOME/emulator:$ANDROID_HOME/platform-tools:$PATH"
export INSTANT_SCHEMA_FILE_PATH="./src/db/instant/instant.schema.ts"
export INSTANT_PERMS_FILE_PATH="./src/db/instant/instant.perms.ts"
